{{ attach_library('module_hero/hero-style') }}
<h4 class="animated bounce">{{ title }}</h4>
<strong>{{ param }}</strong>
<strong>This is coming from our custom twig file</strong>
<ol>
  {% for item in items %}
    <li>{{ item.name }}</li>
  {% endfor %}
</ol>
